{% if admin.hasRoute('trash') and admin.isGranted('LIST')%}
    <a class="btn sonata-action-element" href="{{ admin.generateUrl('trash') }}">
        <i class="icon-trash"></i>
        {{ 'link_action_trash'|trans({}, 'PicossSonataExtraAdminBundle') }}</a>
{% endif %}