{#

This file is part of the YesWeHack BugBounty backend

(c) Romain Honel <romain.honel@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% set moves = [
    {'way': constant('Picoss\\SonataExtraAdminBundle\\Handler\\SortableHandler::MOVE_TOP'), 'icon': 'glyphicon-arrow-up'},
    {'way': constant('Picoss\\SonataExtraAdminBundle\\Handler\\SortableHandler::MOVE_UP'), 'icon': 'glyphicon-chevron-up'},
    {'way': constant('Picoss\\SonataExtraAdminBundle\\Handler\\SortableHandler::MOVE_DOWN'), 'icon': 'glyphicon-chevron-down'},
    {'way': constant('Picoss\\SonataExtraAdminBundle\\Handler\\SortableHandler::MOVE_BOTTOM'), 'icon': 'glyphicon-arrow-down'}
] %}

{% for move in moves %}
    {% spaceless %}
    {% set label = ('action_move_' ~ move.way)|trans({}, 'PicossSonataExtraAdminBundle') %}

    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'position': move.way}) }}" title="{{ label }}">
        <i class="glyphicon {{ move.icon }}"></i>
        {% if actions.hide_label is defined and actions.hide_label == false %}{{ label }}{% endif %}
    </a>
    {% endspaceless %}
{% endfor %}
