{#

This file is part of the YesWeHack BugBounty backend

(c) Romain Honel <romain.honel@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    {% spaceless %}
        {% set styles = ['primary', 'success', 'info', 'warning', 'danger'] %}
        {% set style = field_description.options.style is defined and field_description.options.style in styles ? ' label-' ~ field_description.options.style : '' %}
        <span class="label{{ style }}">{{ value }}</span>
    {% endspaceless %}
{% endblock %}